* {
    /*outline: 1px solid red;*/
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 16px;
}

header {
    width: 100vw;
    min-height: 90px;
    background-color: #F2785CB2;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
  
.website_name {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}

h1 {
    font-size: 32px;
    color: white;
}

.small_image {
    width: 30px;
    height: 30px;
    background-image: url(img/Vector.svg);
}

nav {
    width: 40vw;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end; 
}

.nav_link {
    color:white;
}

.login_button_area {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
}

.login_button {
    margin-right: 8vw;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0D606F;
    color: white;
}

.mainform {
    width: 100vw;
    min-height: 675px ;
}