* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: white;
}

.fixed {
  position: fixed;
}

.wrapper {
  max-width: 1440px;
}

.overlay {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 1000;
}

.overlay[toggled-open="true"] {
  display: block;
  background: rgba(0, 0, 0, 0.75);
}

/*Area for header, form and background image, linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%)*/

header {
  min-height: 251px;
  background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 25.1%),
    url(img/header_background.jpg);
  background-size: cover;
  background-position: center center;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 45px;
}

.website_name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.website_name h2 {
  display: none;
}

.website_name img {
  margin-left: 16.5px;
}

.navigation_header {
  min-height: 251px;
  min-width: 165px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 0.5s;
  z-index: 5000;
  background-color: #f2785c;

  display: flex;
  flex-direction: column;
  justify-content: center; /**TODO Careful*/
  align-items: flex-end;
  gap: 10px;
  list-style-type: none;
  border-radius: 10px;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
}

.navigation_header[toggled-open="true"] {
  transform: translateX(0%);
  transition-property: transform;
  transition-duration: 0.5s;
}

.nav_link {
  padding-right: 17px;
}

.first_link {
  padding-top: 13px;
}

.nav_link a {
  color: white;
  font-family: "Red Hat Text", sans-serif;
}

.nav_link a:hover {
  text-decoration: underline;
  color: yellow;
}

.burger {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3px;
  margin-right: 23px;
  margin-bottom: 3px;
}

.burger[toggled-open="true"] {
  display: none;
}

.cross {
  display: none;
}

.cross[toggled-open="true"] {
  display: block;
  position: absolute;
  top: 15.5px;
  left: 15.5px;
  z-index: 9999;
}

.login_button_area {
  display: none;
}

/* Media for main header*/

@media (min-width: 391px) {
  header {
    min-height: 765px;
    background: none;
    background: url(img/header_background.jpg);
  }

  .main_header {
    min-height: 90px;
    position: static;
    flex-wrap: nowrap;
    background-color: #f2785cb2;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }

  .website_name {
    width: 30%;
    justify-content: center;
    align-items: baseline;
  }

  .website_name img {
    margin-right: 2%;
  }

  .website_name h2 {
    display: block;
    font-size: 32px;
    color: white;
    font-family: "Magra", sans-serif;
    font-weight: 600;
    /**TODO Here was margin 24px*/
  }

  .navigation_header {
    min-height: 0;
    min-width: 0;
    position: static;
    background-color: transparent;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 0s;

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 42px;
    border-radius: 0;
    box-shadow: none;
  }

  .nav_link {
    padding: 0;
  }

  .first_link {
    padding-top: 0;
  }

  .hidden_link {
    display: none;
  }

  .burger {
    display: none;
  }

  .login_button_area {
    display: flex;
    justify-content: flex-end;
    width: 25%;
  }

  .login_button {
    width: 103px;
    margin-right: 34%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  .login_button:hover {
    background-color: green;
  }
}

/* Preview section*/

.preview_section {
  margin-top: 112px; /*TODO CHANGE*/
  display: flex;
  justify-content: center;

  color: white;
  font-family: "Aleo", serif;
  font-weight: 700;
}

.preview_header {
  display: none;
}

.preview_text {
  display: none;
}

.do_form {
  width: 93%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: #ffffffb2;
  border-radius: 16px;
}

.do_form input {
  border: none;
  background-color: transparent;
  margin-left: 16px;
  margin-top: 2px;

  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: #f2785c;
}

.do_form input::placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: #f2785c;
}

.do_form_button {
  width: 92px;
  height: 30px;
  align-self: center;
  margin-right: 9px;

  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #ffffff;
  background-color: #0d606f;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

.do_form_button:hover {
  background-color: green;
}

/**Media for preview section*/

@media (min-width: 391px) {
  .preview_section {
    display: block;
    width: 62%;
    margin-top: 32px;
    margin-left: 120px;
  }

  .preview_header {
    display: block;
  }

  .preview_text {
    display: block;
  }

  .preview_header {
    font-size: 80px;
  }

  .preview_text {
    margin-top: 33px;
    margin-bottom: 44px;
    font-size: 20px;
  }

  .do_form {
    width: 100%;
    min-height: 95px;
  }

  .do_form input {
    width: 320px;
    height: 30px;
    margin-left: 4%;
    font-size: 24px;
    font-weight: 400;
  }

  .do_form input::placeholder {
    font-family: "Aleo", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #f2785c;
  }

  .do_form_button {
    width: 228px;
    height: 59px;
    border-radius: 10px;
    margin-right: 18px;

    font-size: 24px;
  }
}
@media (min-width: 390px) and (max-width: 600px) {
  .do_form input {
    font-size: 16px;
  }
  .do_form input::placeholder {
    font-size: 16px;
  }
}
/** Main start */

/**Steps section*/

.orange_header2 {
  font-size: 14px;
  text-align: center;
  color: #f2785c;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
}

.steps_section .orange_header2 {
  margin-top: 20px;
  margin-bottom: 21px;
}

.steps_section_pictures {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.steps_picture_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps_vector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2785c;
  width: 70px; /*TODO CHANGE*/
  height: 70px;
  border-radius: 16px;
}

.steps_icon_bycycle {
  width: 35px;
  height: 31px;
  background-image: url(img/Step_Icon_Bicycle.svg);
  background-size: cover;
}

.steps_icon_calendar {
  width: 35px;
  height: 35px;
  background-image: url(img/Step_Icon_Calendar.svg);
  background-size: cover;
}

.steps_icon_recommendations {
  width: 40px;
  height: 30px;
  background-image: url(img/Step_Icon_Recommendation.svg);
  background-size: cover;
}

.steps_text {
  margin-top: 20px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 10px;
  color: #0d606f;
  white-space: pre;
}

/**Media for steps section*/

@media (min-width: 391px) {
  .orange_header2 {
    text-align: center;
    color: #f2785c;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 40px;
  }

  .steps_section .orange_header2 {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .steps_section_pictures {
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }

  .steps_vector {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2785c;
    width: 100px;
    height: 100px;
    border-radius: 16px;
  }

  .steps_icon_bycycle {
    width: 50px;
    height: 45px;
  }

  .steps_icon_calendar {
    width: 52px;
    height: 52px;
  }

  .steps_icon_recommendations {
    width: 60px;
    height: 45px;
  }

  .steps_text {
    margin-top: 30px; /*TODO Check*/
    font-family: "Aleo", serif;
    font-size: 20px;
    font-weight: 400;
    color: #0d606f;
    white-space: normal;
  }
}

/**Destinations section*/

.destinations_section .orange_header2 {
  margin: 20px 0 20.5px 0;
}

.destination_pictures {
  display: flex;
  justify-content: center;
  position: relative;
}

.destination_div1 {
  width: 92.5%;
  position: relative;
}

.destination_div2 {
  display: none;
}

.destination_div3 {
  display: none;
}

.destination_picture_img {
  width: 100%;
  height: 210px;
  border-radius: 16px;
  object-fit: cover;
}

.inner_text {
  position: absolute;
  left: 16px;
  top: 8px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.destination_arrows {
  width: 93%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.pixel_group {
  position: absolute;
  bottom: 16px;
  display: flex;
  gap: 6px;
}

.pixel_group_new {
  display: none;
}

.pixel {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.pixel_button_1 {
  background-color: #f2785c;
}
/*TODO CHANGE THIS!!!!!!*/
.pixel_button_2 {
  background-color: #f2785c80;
}

.pixel_button_3 {
  background-color: #f2785c80;
}

.destinations_section .more_button_area {
  margin-top: 6px;
  margin-bottom: 20px;
}

.more_button_area {
  display: flex;
  justify-content: center;
}

.more_button {
  width: 92px;
  height: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.6px;
  background-color: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  color: white;
  font-size: 11px;
}

.more_button_arrow {
  width: 8.7px;
  height: 5.6px;
}

.more_button:hover {
  background-color: green;
}

/**Media for destination section*/

@media (min-width: 391px) {
  .destinations_section .orange_header2 {
    margin-top: 97px;
    margin-bottom: 46px;
  }

  .destination_pictures {
    display: flex;
    justify-content: center;
    overflow: hidden;
    gap: 60px;
  }

  .destination_div2,
  .destination_div3 {
    display: block;
    position: relative;
  }

  .destination_pictures img {
    border-radius: 16px;
    width: 800px;
    height: 800px;
  }

  .inner_text {
    position: absolute;
    left: 15px;
    top: 718px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
  }

  .destination_arrows {
    display: none;
  }

  .pixel_group {
    display: none;
  }

  .pixel_group_new {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20.5px;
  }

  .pixel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
  }

  .pixel_button_1 {
    background-color: #f2785c80;
  }
  /*TODO CHANGE THIS!!!!!!*/
  .pixel_button_2 {
    background-color: #f2785c;
  }

  .pixel_button_3 {
    background-color: #f2785c80;
  }

  .more_button_area {
    display: flex;
    justify-content: center;
  }

  .destinations_section .more_button_area {
    margin-top: 40px;
    margin-bottom: 80px; /**TODO look fro margins in mobile*/
  }

  .more_button {
    width: 228px;
    height: 59px;
    gap: 12.5px;
    font-size: 24px;
  }

  .more_button_arrow {
    width: 35px;
    height: 22.5px;
  }

  .more_button:hover {
    background-color: green;
  }
}

/**Stories section*/

.stories_section .orange_header2 {
  margin-bottom: 11px;
}

.footer_background {
  background-image: url(img/footer_background.jpg);
  background-size: cover;
  background-position: center center;
}

.white_background {
  background-color: #ffffffb2;
}

.stories_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.stories_flex:last-of-type {
  padding-bottom: 0;
}

.stories_area {
  padding-top: 10px;
}

.stories_area img {
  width: 155px;
  height: 130px;
  border-radius: 16px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px #0d606f);
}

.story_block {
  margin-top: 3.5px;
  font-family: "Aleo", serif;
  font-weight: 400;
  color: #0d606f;
}

.story_title {
  font-size: 11px;
  margin-bottom: 10px;
  font-family: "Aleo", serif;
  font-weight: 700;
}

.mobile_text {
  font-size: 9px;
}

.story_text {
  display: none;
}

.mobile_text a {
  font-weight: 700;
  text-decoration: underline;
  color: #0d606f;
}

.story_text a:hover {
  filter: brightness(2);
}

.stories_section .more_button_area {
  margin-top: 10px;
  padding-bottom: 13px;
}

/**Media for stories section*/

@media (min-width: 391px) {
  .stories_section .orange_header2 {
    margin-bottom: 40px;
  }

  .footer_background {
    background-image: url(img/footer_background.jpg);
    background-size: cover;
  }

  .white_background {
    background-color: #ffffffb2;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .stories_area {
    padding-top: 0;
  }

  .stories_flex {
    align-items: flex-start;
    gap: 41px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30px; /*TODO Change margins to 0*/
  }

  .stories_area img {
    width: 27.7%;
    height: 250px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0d606f);
  }

  .story_block {
    width: 53%;
    margin-top: 0;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: #0d606f;
  }

  .story_title {
    font-size: 35px;
    margin-bottom: 24px;
    font-family: "Aleo", serif;
    font-weight: 400;
  }

  .mobile_text {
    display: none;
  }

  .story_text {
    display: block;
    font-size: 20px;
  }

  .story_text a {
    font-weight: 700;
    text-decoration: underline;
    color: #0d606f;
  }

  .story_text a:hover {
    filter: brightness(2);
  }

  .stories_section .more_button_area {
    margin-top: 40px;
    padding-bottom: 0; /*TODO Change later*/
  }
}

/**Footer*/

.main_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 20px;
}

.footer_empty_space {
  display: none;
}

.main_footer_copyright {
  display: none;
}

.main_footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-left: 8%;
}

.main_footer_social a:hover {
  filter: brightness(2.5);
}

/**Media for footer section*/

@media (min-width: 391px) {
  .main_footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
  }

  .footer_empty_space {
    display: block;
  }

  .main_footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-left: 0%;
  }

  .main_footer_social a:hover {
    filter: brightness(2.5);
  }

  .main_footer_copyright {
    display: block;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
  }

  .footer_empty_space {
    display: block;
  }
}
