* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: white;
}

.wrapper {
  max-width: 1440px;
}

/*Area for header, form and background image, linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%)*/

header {
  min-height: 251px;
  background-image: url(img/header_background.jpg);
  background-size: cover;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
}

.website_name {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.website_name img {
  margin-left: 16px;
}

.website_name h2 {
  display: none;
}

.navigation_header {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: fixed;
  top: -100px;
  right: -100px;
  z-index: 9999;

  background-color: orange;
}

.nav_link a {
  color: white;
  font-family: "Red Hat Text", sans-serif;
}

.nav_link a:hover {
  text-decoration: underline;
  color: yellow;
}

.burger {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  z-index: 1000;
  margin-right: 24px;
}

.login_button_area {
  display: none;
}

/* Media for main header*/

@media (min-width: 391px) {
  header {
    min-height: 765px;
  }

  .main_header {
    min-height: 90px;
    position: static;
    flex-wrap: nowrap;
    background-color: #f2785cb2;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  }

  .website_name {
    width: 30%;
    justify-content: center;
  }

  .website_name img {
    margin-left: 0;
  }

  .website_name h2 {
    display: block;
    font-size: 32px;
    color: white;
    font-family: "Magra", sans-serif;
    font-weight: 600;
    margin-right: 20px;
  }

  .navigation_header {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 42px;
    position: static;
    background-color: transparent;
  }

  .burger {
    display: none;
  }

  .login_button_area {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }

  .login_button {
    width: 103px;
    margin-right: 30%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #0d606f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
  }

  .login_button:hover {
    background-color: green;
  }
}

/* Preview section*/

.preview_section {
  margin-top: 110px; /*TODO CHANGE*/
  display: flex;
  justify-content: center;

  color: white;
  font-family: "Aleo", serif;
  font-weight: 700;
}

.preview_header {
  display: none;
}

.preview_text {
    display: none;
}

.do_form {
  width: 90%;
  min-height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  background-color: #ffffffb2;
  border-radius: 16px;
}

.do_form input {
  border: none;
  background-color: transparent;

  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: #f2785c;
}

.do_form input::placeholder {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-style: italic;
  color: #f2785c;
}

.do_form_button {
  width: 92px;
  height: 30px;
  align-self: center;

  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #0d606f;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

.do_form_button:hover {
  background-color: green;
}

@media (min-width: 391px) {
  .preview_section {
    display: block;
    width: 60%;
    margin-top: 32px;
    margin-left: 120px;
  }

  .preview_header {
    display: block;
  }

  .preview_text {
    display: block;
  }

  .preview_header {
    font-size: 80px;
  }

  .preview_text {
    margin-top: 35px;
    margin-bottom: 46px;
    font-size: 20px;
    font-style: italic;
  }

  .do_form {
    min-height: 95px;
  }

  .do_form input {
    width: 320px;
    height: 30px;
  }

  .do_form input::placeholder {
    font-family: "Aleo", serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #f2785c;
  }

  .do_form_button {
    width: 228px;
    height: 59px;
    border-radius: 10px;
    margin-right: 18px;

    font-size: 24px;
  }
}

/** Main start */

/**Steps section*/

.steps_section {
    max-width: 1440px; /*TODO Change*/
}

.orange_header2 {
    font-size: 14px;
    text-align: center;
    color: #f2785c;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
}

.steps_section .orange_header2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.steps_section_pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.steps_picture_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps_vector {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2785c;
  width: 70px; /*TODO CHANGE*/
  height: 70px;
  border-radius: 16px;
}

.steps_icon_bycycle {
  width: 35px;
  height: 31px;
  background-image: url(img/Step_Icon_Bicycle.svg);
  background-size: cover;
}

.steps_icon_calendar {
  width: 35px;
  height: 35px;
  background-image: url(img/Step_Icon_Calendar.svg);
  background-size: cover;
}

.steps_icon_recommendations {
  width: 40px;
  height: 30px;
  background-image: url(img/Step_Icon_Recommendation.svg);
  background-size: cover;
}

.steps_text {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 10px;
    color: #0d606f;
    white-space: pre;
}

@media (min-width: 391px) {

  .orange_header2 {
    text-align: center;
    color: #f2785c;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 40px;
  }

  .steps_section .orange_header2 {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .steps_section_pictures {
    justify-content: space-around;
  }

  .steps_vector {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2785c;
    width: 100px;
    height: 100px;
    border-radius: 16px;
  }

  .steps_icon_bycycle {
    width: 50px;
    height: 45px;
  }

  .steps_icon_calendar {
    width: 52px;
    height: 52px;
  }

  .steps_icon_recommendations {
    width: 60px;
    height: 45px;
  }

  .steps_text {
    margin-top: 30px;
    font-family: "Aleo", serif;
    font-size: 20px;
    font-weight: 400;
    color: #0d606f;
  }
}

/**Destinations section*/

.destinations_section {/*TODO Change later*/
}

.destinations_section .orange_header2 {
  margin: 20px 0;
}

.destination_pictures {   
  display:flex;
  justify-content: center;
  position: relative;
}

.destination_div1 {
  width: 92%;
  position: relative;
}

.destination_div2 {
  display: none;
}

.destination_div3 {
  display: none;
}

.destination_pictures img {
  width: 100%;
  height: 210px;
  border-radius: 16px;
}

.inner_text {
  position: absolute;
  left: 16px;
  top: 8px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.pixels {
  position: absolute;
  bottom: 13px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pixel_button_pale {
  width: 8px;
  height: 8px;
  background-color: #F2785C80;
  border-radius: 50%;
  outline: none;
  border: none;
}

.pixel_button_bright {
  width: 8px;
  height: 8px;
  background-color: #F2785C;
  border-radius: 50%;
  outline: none;
  border: none;
}

.more_button_area {
  display: flex;
  justify-content: center;
}

.more_button {
  width: 92px;
  height: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.6px;
  background-color: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: white;
  font-size: 11px;
}

.more_button_arrow {
  width: 8.7px;
  height: 5.6px;
}

.more_button:hover {
  background-color: green;
}

@media (min-width: 391px) {
  .destinations_section {
    max-width: 1440px;/*TODO Change later*/
  }

  .destinations_section .orange_header2 {
    margin-top: 97px;
    margin-bottom: 40px;
  }
  
  .destination_pictures {   
    display:flex;
    justify-content: center;
    overflow: hidden;
    gap: 60px;
  }
  
  .destination_div2, .destination_div3 {
  display: block;
  position: relative;
  }

  .destination_pictures img {
    border-radius: 16px;
    width: 800px;
    height: 800px;
  }
  
  .inner_text {
    position: absolute;
    left: 15px;
    top: 720px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
  }
  
  .pixels {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pixel_button_pale {
    width: 20px;
    height: 20px;
    background-color: #F2785C80;
    border-radius: 50%;
    outline: none;
    border: none;
  }
  
  .pixel_button_bright {
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    border-radius: 50%;
    outline: none;
    border: none;
  }
  
  .more_button_area {
    display: flex;
    justify-content: center;
  }
  
  .more_button {
    width: 228px;
    height: 59px;
    gap: 12.5px;
    font-size: 24px;
  }
  
  .more_button_arrow {
    width: 35px;
    height: 22.5px;
  }

  .more_button:hover {
    background-color: green;
  }
}
/**
.main_header {
    width: 100%;
    min-height: 90px;
    background-color: #F2785CB2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5); 
    
}

Website name and icon

.website_name {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.website_name h2 {
    font-size: 32px;
    color: white;
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    margin-right: 20px;
}

.website_name img {
    margin-right: 8px;
}


nav {
    width: 40%;

}

.navigation_header {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 42px; 
}

.nav_link a {
    color:white;
    font-family: 'Red Hat Text', sans-serif;  
}

.nav_link a:hover {
    text-decoration: underline;
    color:yellow;

}



.login_button_area {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.login_button {
    margin-right: 30%;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
}

.login_button:hover {
    background-color: green;
}



.preview_section {
    width: 60%;
    min-height: 675px ;
    margin-top: 32px;
    margin-left: 120px;
    color: white;
    font-family: 'Aleo', serif;
    font-weight: 700;
}



.preview_section h1 {
    font-size: 80px;
}

.preview_section p {
    margin-top: 35px;     
    margin-bottom: 46px;
    font-size: 20px;
    font-style: italic;
}

.do_form_area {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFFB2;
    border-radius: 16px;
    width: 892px;        
    height: 95px;
}

.do_form {    
    display: inline-block;
    align-self: center;
}

.do_form input{
    border: none;
    background-color: transparent;
    width: 560px;
    margin-left: 41px;
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #F2785C;
}

.do_form input::placeholder {
    font-family: 'Aleo', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #F2785C;
}

.do_form_button {
    width: 228px;   
    height: 59px;
    border-radius: 10px;
    margin-right: 18px;
    align-self: center;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:#FFFFFF;
    background-color: #0D606F;
    border: none;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.do_form_button:hover {
    background-color: green;
}





/**
main {
    width: 100%;
}



.steps_section { 
    width: 100%;    
}

.orange_header2 {
    text-align: center; 
    color: #F2785C;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.steps_section .orange_header2 {   
    margin-top: 80px;
    margin-bottom: 40px; 
}

.steps_section_pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 204px;
}

.steps_vector {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2785C;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin-left: 80px;
}


.steps_text {
    margin-top: 30px;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
    color: #0D606F;
}



.destinations_section .orange_header2 {
    margin-top: 90px;
    margin-bottom: 46px;
}

.destination_pictures {   
    display:flex;
    justify-content: center;
    overflow: hidden;
    gap: 60px;
}

.destination_pictures img {
    border-radius: 16px;
}

.inner_text {
    position: relative;
    bottom: 80px;
    left: 15px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
}



.pixels {
    position: relative;
    bottom: 17px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pixel_button_pale {
    width: 20px;
    height: 20px;
    background-color: #F2785C80;
    border-radius: 50%;
    outline: none;
    border: none;
}

.pixel_button_bright {
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    border-radius: 50%;
    outline: none;
    border: none;
}



.more_button_area {
    display: flex;
    justify-content: center;
}

.more_button {
    width: 228px;
    height: 59px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
    background-color: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    color: white;
    font-size: 24px;
}

.more_button:hover {
    background-color: green;
}

.destinations_section .destination_header {
    margin-top: 80px;
    margin-bottom: 40px;
}





footer {
    width: 100%;
    height: 1340px;   
    background-image: url(img/footer_background.jpg);
    background-size: cover;
}



.white_background {
    background-color: #FFFFFFB2;
    padding-bottom: 40px; 
    padding-top: 40px;
}

.stories_section {         
    display: grid;
    grid-template-columns: 400px 760px;
    grid-gap: 30px 40px;
    margin-left: 120px;
}

.stories_section img {
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px #0D606F);
}

.story_block {
    font-family: 'Aleo', serif;
    font-weight: 400; 
    color: #0D606F;
}

.story_title {
    font-size: 35px;
    margin-bottom: 24px;
    font-family: 'Aleo', serif;
    font-weight: 400; 
}

.story_text {
    font-size: 20px;
}

.story_text a {
    font-weight: 700;
    text-decoration: underline;
    color:#0D606F;
}

.story_text a:hover {
    filter: brightness(2);
}

footer .more_button_area {
    margin-top: 40px;
}



.main_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.main_footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-right: 120px;
}

.main_footer_social a:hover {
    filter: brightness(2.5);
}

.main_footer_copyright {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-left: 265px;
}

*/
